/* width */
::-webkit-scrollbar {
    width : 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background   : #c7c7c76e;
    border-radius: 8px;
    transition   : .3s all ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c7c7c74c;
}

body {
    background-color: var(--theme-color);
    color           : var(--white);
    font-family     : 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.btn-round {
    border-radius: 50%;
    cursor       : pointer;
    height       : 42px;
    text-align   : center;
    transition   : .3s all ease-in-out;
    width        : 42px;
}

.btn-round:hover {
    background-color: var(--theme-links_hover);
}

.btn-default {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius   : 8px;
    color           : var(--theme-white);
    display         : inline-block;
    font-size       : 0.875rem;
    font-weight     : 400px;
    line-height     : 32px;
    padding         : 0 12px;
    text-align      : center;
    transition      : background-color 0.5s cubic-bezier(0.05, 0, 0, 1) 0s;
}

.btn-default:not(.select):hover {
    background-color: rgba(255, 255, 255, 0.2);
}