.header {
    align-items     : center;
    flex-wrap       : wrap;
    grid-area       : header;
    justify-content : space-between;
    padding         : 10px 1%;
    width           : 100%;
}

.header-left {
    align-items: center;
    flex       : 0 1 180px;
}

.header-left_menu {
    padding: 12px;
}

.header-left_menu img {
    height    : 100%;
    object-fit: cover;
    width     : 100%;
}

.header-left_logo {
    height: 30px;
    width : 120px;
}

.header-left_logo img {
    height    : 100%;
    object-fit: cover;
    width     : 100%;
}

.header-center {
    flex: 1;
}

.header-center_search {
    align-items: center;
    gap        : 10px;
    margin     : 0 auto;
    max-width  : 700px;
}

.header-search_input {
    background-color: var(--theme-input_bg);
    border          : 1px solid var(--theme-input_border);
    border-radius   : 40px;
    flex            : 0 1 600px;
}

.header-search_input input {
    border          : 1px solid transparent;
    background-color: transparent;
    border-radius   : 40px 0 0 40px;
    color           : var(--white);
    font-family     : 'Roboto Mono', monospace;
    font-weight     : 500;
    font-size       : 1rem;
    flex            : 0 1 540px;
    line-height     : 24px;
    outline         : none;
    padding         : 200px 0;
    padding         : 0px 4px 0 16px;
    transition      : .3s;
}

.header-search_input input:focus {
    border-color: var(--theme-blue);
}

.header-search_btn {
    background-color: #ffffff14;
    border-radius   : 0 40px 40px 0;
    flex            : 0 1 60px;
    height          : 40px;
    text-align      : center;
}

.header-search_btn a {
    color      : var(--white);
    line-height: 40px;
}

.header-search_voz {
    background-color: var(--theme-btn_gray);
}

.header-search_voz a {
    color      : var(--white);
    font-size  : 1rem;
    line-height: 40px;
}

.header-right {
    flex: 0 1 170px;
}

.header-right ul {
    align-items    : center;
    gap            : 15px;
    justify-content: center;
}

.header-left_menu ul li {
    background-color: darkblue;
}

.header-right ul li a {
    color      : var(--white);
    line-height: 40px;
}

.btn-image {
    height       : 42px;
    border-radius: 50%;
    width        : 42px;
}

.btn-image img {
    border-radius: 50%;
    height       : 100%;
    object-fit   : cover;
    width        : 100%;
}